<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - mtg-link</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../static/css/libs/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='../static/css/views/views.css' type='text/css'>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src='../static/js/libs/bootstrap.js'></script>
    <script src='../static/js/view_card.js'></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <a class='navbar-brand'>mtglink</a>
        <div class='navbar-form navbar-right'>
          <div class='form-group'>
            <input type='text' id='search-input' class='form-control' placeholder='Search'>
          </div>
            <button id='navbar-search-button' type='submit' class='btn btn-default'>Go</button>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
